body {
  background: #000;
  color: #fff;
}

.content {
  width: 75%;
}

.left {
  background-color: yellow;
  color: black;
  border-radius: 24px 0 0 24px;
}

.right {
  background-color: #05eda4;
  color: black;
  border-radius: 0 24px 24px 0;
}

.recent {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}

.scores {
  display: flex;
  margin: 8px;
  flex-direction: row;
  align-items: center;
  align-content: start;
  justify-content: start;
  padding: 6px;
}

.scores-row {
  border: 4px solid black;
  margin: 6px;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 8px;
}

.scores-row .scores:nth-child(even) {
  background-color: #c6c6c6;
}

.scores-row .scores:nth-child(odd) {
  background-color: #fff;
}

.scores-row .scores:nth-child(even):hover {
  background-color: #05eda4;
}

.scores-row .scores:nth-child(odd):hover {
  background-color: #f00;
  color: white;
}

.scores p {
  font-size: 18px;
  font-weight: 600;
}

.form {
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  justify-items: end;
  align-items: start;
}

.form input {
  width: 62vh;
  font-size: 24px;
  padding: 12px;
  border-radius: 12px;
}

form button {
  align-self: end;
  font-size: 34px;
  font-weight: 700;
}

footer {
  border-top: 2px solid gray;
  box-sizing: border-box;
  margin-top: 24px;
  color: gray;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: gray;
}
